@font-face {
  font-family: "BowlbyOneSC";
  src: url("/fonts/BowlbyOneSC-Regular.ttf");
  font-weight: 200 900;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-VariableFont_wght.ttf");
  font-weight: 200 900;
}

:root {
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-background: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background: url("/bg2.jpg") #000;
  background-size: cover;
  background-position: top;

  box-shadow: inset 0 0 352px 30px rgba(0, 0, 0, 0.8);
}

a {
  color: #fee34d;
}

button {
  padding: 8px 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.1s;
  border: none;
}
